/* Change footer colors */
#footer {background-color: #788d01;}
.footerButton:hover {color: yellow;}
#verse {
    background-color: #788d01;
    color: white;
}

/*
* Global CSS
*/
html, body {
    cursor: url("/images/DTB/DropBall\ Cursor.png"), default;
    background-color: #6f5731;
    overflow-x: hidden;
    height: auto;
    width: auto;
}

/*
* TOS Text
*/
h1, h2, h3, h4, p, ul, li {
    font-family: Roboto Slab;
    color: white;

    z-index: 10;
}

a {
    transition-duration: 0.5s;
}

a:link, a:visited {
    color: white;
    text-decoration: underline;
    font-size: 1rem;
}

a:hover {
    color: red;
    text-decoration: underline;
    font-size: 1.2rem;
}