/*
* Footer CSS
*/
#footer {
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 15;

    bottom: 2vh;
    left: 0;
    margin: 0;
    padding: 0;

    background-color: #232324;
    width: 100%;
}

#verse {
    position: fixed;
    text-align: center;
    z-index: 14;
    margin: 0;

    width: 100%;
    height: 2vh;
    bottom: 0;
    left: 0;

    font-family: Roboto Slab;
    background-color: #232324;
    color: gray;
}

#verse:hover {
    cursor: text;
}

.footerText, .footerButton {
    font-family: Roboto Slab;
    color: white;
    background-color: none;
    border: none;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;

    transition-duration: 0.5s;
    align-items: center;
    text-align: center;
    display: block;
    user-select: none;
}

.footerButton:hover {
    color: yellow;
    cursor: pointer;
    background: none;
    text-shadow: 2px 2px 30px rgb(255, 255, 255);
}