html {
    background-color: black;
}

iframe {
    position: fixed;
    border: none;
    width: 100vw;
    height: 96.8vh;
    left: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
