/*
* Fonts
*/

@font-face {
    font-family: Roboto Slab;
    src: url('https://peterbrumbach.com/fonts/robotoslab-webfont.woff2') format('woff2'),
         url('https://peterbrumbach.com/fonts/robotoslab-webfont.woff') format('woff'),
         url('https://peterbrumbach.com/fonts/RobotoSlab.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Pixelify Sans;
    src: url('https://peterbrumbach.com/fonts/pixel-webfont.woff2') format('woff2'),
         url('https://peterbrumbach.com/fonts/pixel-webfont.woff') format('woff'),
         url('https://peterbrumbach.com/fonts/pixel.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Christmas;
    src: url('https://peterbrumbach.com/fonts/mountainsofchristmas-regular-webfont.woff2') format('woff2'),
         url('https://peterbrumbach.com/fonts/mountainsofchristmas-regular-webfont.woff') format('woff'),
         url('https://peterbrumbach.com/fonts/MountainsofChristmas-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Festive;
    src: url('https://peterbrumbach.com/fonts/festive.woff2') format('woff2'),
         url('https://peterbrumbach.com/fonts/festive.woff') format('woff'),
         url('https://peterbrumbach.com/fonts/festive.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Mouse Cursor */

html {
    min-height: 100%;
    cursor: url('/images/cursors/Cursor1.png'), default;
}