/*
* Fonts
*/

@font-face {
    font-family: Roboto Slab;
    src: url('../../assets/fonts/roboto.woff2') format('woff2'),
         url('../../assets/fonts/roboto.woff') format('woff'),
         url('../../assets/fonts/roboto.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Pixelify Sans;
    src: url('../../assets/fonts/pixel.woff2') format('woff2'),
         url('../../assets/fonts/pixel.woff') format('woff'),
         url('../../assets/fonts/pixel.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Jersey;
    src: url('../../assets/fonts/jersey10.woff2') format('woff2'),
         url('../../assets/fonts/jersey10.woff') format('woff'),
         url('../../assets/fonts/jersey10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Christmas;
    src: url('../../assets/fonts/christmas.woff2') format('woff2'),
         url('../../assets/fonts/christmas.woff') format('woff'),
         url('../../assets/fonts/christmas.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Festive;
    src: url('../../assets/fonts/festive.woff2') format('woff2'),
         url('../../assets/fonts/festive.woff') format('woff'),
         url('../../assets/fonts/festive.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Savate;
    src: url('../../assets/fonts/savate.woff2') format('woff2'),
         url('../../assets/fonts/savate.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}